$desktop-min: 992px;
$tablet-min: 768px;
$tablet-max: ($desktop-min - 1px);
$mobile-max: ($tablet-min - 1px);

@mixin desktop {
  @media (min-width: $desktop-min) {
    @content;
  }
}

@mixin desktop-or-tablet {
  @media (min-width: $tablet-min) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    @content;
  }
}

@mixin mobile-or-tablet {
  @media (max-width: $tablet-max) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-max) {
    @content;
  }
}
