@use "./media" as media;
@use "./common" as common;

.takePhotoWithFrameBtn {
  @include common.flex-layout(center, center, flex, row);
  border-radius: 10px;
  cursor: pointer;
  pointer-events: all;
  background-color: #00bfff;
  background-image: url(take-photo-with-frame-white.webp);
  background-position: center;
  background-repeat: no-repeat, no-repeat;
  background-size: 40px 40px;
  min-width: 60px;
  min-height: 60px;
}

.takePhotoWithFramePopup {
  @include common.flex-layout;
  background-color: white;
  margin-top: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  @media (prefers-color-scheme: light) {
    background-color: black;
  }

  .header {
    @include common.flex-layout(flex-end, center, flex, row);
    width: 100%;
    margin-bottom: auto;

    .closeIcon {
      width: 15px;
      height: 15px;
      margin-right: 25px;
      margin-top: 25px;
      background: center / contain no-repeat;
      background-image: url(close-icon-black.webp);
      cursor: pointer;

      @media (prefers-color-scheme: light) {
        background-image: url(close-icon-white.webp);
      }
    }
  }

  .content {
    @include common.flex-layout;
    color: white;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;

    @media (prefers-color-scheme: light) {
      color: black;
    }

    .takePhotoWithFrameGraphic {
      width: 330px;
      height: 100px;
      background: center / contain no-repeat;
      background-image: url(take-photo-with-frame-2.webp);

      @media (prefers-color-scheme: light) {
        background-image: url(take-photo-with-frame-1.webp);
      }
    }

    .label {
      @include common.flex-layout(center, center, flex, row);
      font-family: "DM Serif Display", serif;
      text-align: left;
      font-weight: 400;
      font-size: 20px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      color: black;

      @media (prefers-color-scheme: light) {
        color: white;
      }
    }

    .message {
      @include common.flex-layout(center, center, flex, row);
      text-align: center;
      font-size: 12px;
      width: 260px;
      color: black;

      @media (prefers-color-scheme: light) {
        color: white;
      }
    }

    .takeButton {
      @include common.flex-layout(center, center, flex, row);
      cursor: pointer;
      background-color: #ff9632;
      border-radius: 50px;
      padding: 10px 30px;
      font-weight: bold;
      font-size: 14px;
      color: white;
      margin: 25px 0 40px 0;

      @media (prefers-color-scheme: light) {
        color: black;
      }
    }
  }

  .footer {
    @include common.flex-layout(flex-end, center, flex, row);
    width: 100%;
    margin-top: auto;

    .bottomFigures {
      width: 330px;
      height: 50px;
      background: bottom / contain no-repeat;
      background-image: url(bottom-circles-1.webp);
    }
  }
}

.takePhotoWithFrameContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;

  &.landscapePrimary {
    flex-direction: row;
  }

  &.landscapeSecondary {
    flex-direction: row-reverse;
  }

  .cameraWrapper {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

    .cameraFeed {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    .reverse {
      transform: scaleX(-1); // Flip the video horizontally
    }

    .frameOverlay {
      position: absolute;
      pointer-events: none;
    }

    .frameCameraOverlay {
      @include common.flex-layout(flex-start);
      position: absolute;

      .header {
        @include common.flex-layout(flex-end, center, flex, row);
        width: 100%;

        @media (orientation: landscape) {
          @include common.flex-layout(flex-start, center, flex, row);
        }

        .closeIcon {
          width: 25px;
          height: 25px;
          background: center / contain no-repeat;
          background-image: url(/static/images/close-icon-white-black-transparent.svg);
          margin: 15px 15px;
          background-color: rgba(30, 30, 30, 0.75);
          border-radius: 50px;

          @media (orientation: landscape) {
            margin: 10% 15px;
          }

          cursor: pointer;
        }
      }
    }

    .overlayMask {
      position: absolute;
      background-color: black;
      z-index: 2;
      pointer-events: none;
      transition: all 0.3s ease;
    }

    .overlayTop {
      top: 0;
      left: 0;
      width: 100%;
    }

    .overlayBottom {
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .overlayLeft {
      top: 0;
      left: 0;
      height: 100%;
    }

    .overlayRight {
      top: 0;
      right: 0;
      height: 100%;
    }
  }

  .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #111;
    flex-shrink: 0;
    height: 125px;
    width: 100%;

    &.iosMargin {
      padding-bottom: 12%;
    }

    @media (orientation: landscape) {
      flex-direction: column-reverse;
      height: 100%;
      width: 125px;

      &.iosMargin {
        padding-bottom: 0;
      }
    }

    .controlButton {
      @include common.flex-layout(center, center, flex, row);
      cursor: pointer;
      pointer-events: all;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat, no-repeat;
      background-size: contain;

      &.close {
        background-image: url(close-icon-dark-background.webp);
        width: 40px;
        height: 40px;
        transition: transform 0.1s ease;

        &:hover {
          transform: scale(0.9);
        }
      }

      &.confirm {
        background-image: url(confirm-icon-dark-background.webp);
        width: 40px;
        height: 40px;
        transition: transform 0.1s ease;

        &:hover {
          transform: scale(0.9);
        }
      }

      &.switch {
        background-image: url(retry-icon-dark-background.webp);
        width: 40px;
        height: 40px;
        transition: transform 0.1s ease;

        &:hover {
          transform: scale(0.9);
        }
      }

      &.capture {
        background-image: url(concentric-circles-2-white.webp);
        width: 80px;
        height: 80px;
        transition: transform 0.1s ease;

        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }

  .photoPreview {
    position: relative;
    @include common.flex-layout;
    flex: 1;
    background: black;

    @media (orientation: landscape) {
      @include common.flex-layout(center, center, flex, row);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      object-fit: contain;
    }
  }
}

.resultPhotoContainer {
  @include common.flex-layout();
  position: relative;
  background-color: black;
  gap: 3%;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding-top: 5%;

  @media (prefers-color-scheme: light) {
    background-color: white;
  }

  @media (orientation: landscape) {
    @include common.flex-layout(center, center, flex, row);
  }

  .header {
    @include common.flex-layout(flex-start, center, flex, row);
    width: 100%;
    top: 0;
    position: absolute;

    &.longPressHeader {
      @include common.flex-layout(flex-end, center, flex, row);
    }

    .backIcon {
      width: 20px;
      height: 20px;
      background: center / contain no-repeat;
      background-image: url(Chevron-Left-black-2.svg);
      margin: 20px 20px;
      cursor: pointer;

      @media (prefers-color-scheme: dark) {
        background-image: url(Chevron-Left-white-2.svg);
      }

      &.longPressBackIcon {
        background-image: url(close-icon-black.svg);

        @media (prefers-color-scheme: dark) {
          background-image: url(close-icon-white.svg);
        }
      }
    }
  }

  .resultPhotoWrapper {
    @include common.flex-layout();
    width: 100%;
    position: relative;
    gap: 15px;

    @media (orientation: landscape) {
      height: 100%;
    }

    &.landscapeWithLongPressComponents {
      width: 50%;
    }

    .resultPhoto {
      object-fit: contain;

      &.portraitInLandscapeView {
        width: auto;
        height: 90%;
      }

      &.landscapeInLandscapeView {
        width: 80%;
        height: auto;
      }

      &.landscapeInPortraitView {
        width: 90%;
        height: auto;
      }

      &.portraitInPortraitView {
        width: 70%;
        height: auto;
      }

      &.portraitInPortraitLargePreview {
        width: 90%;
        height: auto;
      }

      &.landscapeInLandscapeLargePreview {
        width: auto;
        height: 90%;
      }

      &.portraitInLandscapeLargePreview {
        width: 50%;
        height: auto;
        margin-top: 40%;
      }
    }
  }

  .longPressComponentsWrapper {
    @include common.flex-layout();
    width: 100%;
    gap: 15px;

    @media (orientation: landscape) {
      width: 50%;
      height: 100%;
    }

    .shareOptions {
      @include common.flex-layout(center, center, flex, row);
      border-radius: 50px;
      gap: 15px;
      padding: 10px 0;
      width: 230px;
      background-color: #1a1a1a;

      @media (prefers-color-scheme: light) {
        background-color: #fafafa;
      }

      .shareIcon {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        opacity: 0.4;
      }

      .shareInstagram {
        @extend .shareIcon;
        background-image: url(instagram-icon-bw.svg);
      }

      .shareFacebook {
        @extend .shareIcon;
        background-image: url(facebook-icon-bw.svg);
      }

      .shareLinkedin {
        @extend .shareIcon;
        background-image: url(linkedin-icon-bw.svg);
      }

      .shareIconWhite {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 21px;
        height: 21px;
        background-image: url(share-white-2.svg);
      }

      .shareButton {
        @include common.flex-layout(center, center, flex, row);
        cursor: pointer;
        gap: 5px;
        pointer-events: all;
        background-color: #ff9632;
        border-radius: 50px;
        width: 90px;
        height: 33px;
        padding-right: 5px;
        transition: transform 0.3s ease;
        color: white;

        .text {
          font-weight: bold;
          font-size: 14px;

          &::first-letter {
            text-transform: uppercase;
          }
        }
        &:hover {
          transform: scale(0.9);
        }
      }
    }

    .hashtagContainer {
      @include common.flex-layout(flex-start);
      width: 75%;
      max-width: 325px;
      gap: 7px;

      @include media.mobile {
        @media (orientation: landscape) {
          width: 85%;
        }
      }

      .hashtagLabel {
        color: white;
        font-size: 16px;
        width: 100%;
        margin-left: -30px;
        font-weight: bold;

        @media (prefers-color-scheme: light) {
          color: black;
        }
      }

      .hashtagsInner {
        @include common.flex-layout(space-between, center, flex, row);
        border: 2px solid #b7b7b7;
        border-radius: 50px;
        gap: 7px;
        padding: 4px 8px 4px 16px;
        width: 100%;

        .hashtags {
          color: white;
          cursor: pointer;
          width: 90%;
          overflow-x: auto;
          white-space: nowrap;
          font-size: 16px;

          @media (prefers-color-scheme: light) {
            color: black;
          }
        }

        .copyIcon {
          width: 24px;
          height: 24px;
          background: center / contain no-repeat;
          background-image: url(copy-icon-orange.webp);
          cursor: pointer;

          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }
  }

  .bottomNotification {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    background-color: #ff9632;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
  }

  .footer {
    @include common.flex-layout(flex-end, center, flex, row);
    width: 100%;
    margin-top: auto;

    .bottomFigures {
      width: 100%;
      height: 100%;
      pointer-events: none;

      @media (orientation: landscape) {
        width: 0;
        height: 0;
      }

      @include media.desktop-or-tablet {
        width: 0;
        height: 0;
      }
    }
  }
}
